*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.homepage h2{
  font-size: 60px;
  width: 30%;
  color: rgb(0, 0, 0);
}

.carousel img{
  width: 100%;
  height: 55vh;
  border-radius: 200px;
margin-top: 10%;
}
.carousel{
  width: 70%;
}
.homepage{
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  display: flex;
  position: relative;

}
.waves{
position: absolute;
width: 100%;
left: 0;
}

.BTN1 {
  padding: 18px 60px;
  border-radius: 50px;
  border: 0;
  background-color: rgba(248, 196, 64, 0.845);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 40%;
  margin-top: 7%;
  font-size: 20px;
  font-weight: 600;
  transition: all .5s ease;
 }
 .linkbtn1{
  text-decoration: none;
  color: rgb(114, 111, 111);

 }
 
 .BTN1:hover {
  letter-spacing: 3px;
  background-color:rgb(244,192,53);
  color: hsl(0, 0%, 1%);
  box-shadow: rgb(2, 1, 3) 0px 7px 29px 0px;
 }
 
.BTN1:active {
  letter-spacing: 3px;
  background-color:rgb(244,192,53);
  color: hsl(0, 0%, 0%);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }

 .servwrapper{
  align-items: center;
  justify-content: center;
  border: black;
 }
 .servecontainer{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
 }.searchbar{
  display: flex;
 }