* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage h2 {
  font-size: 60px;
  width: 70%;
  color: rgb(0, 0, 0);
}

.carousel img {
  width: 100%;
  height: 55vh;
  border-radius: 200px;
  margin-top: 10%;
}

.carousel {
  width: 70%;
}

.homepage {
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  display: flex;
  position: relative;

}



.BTN1 {
  padding: 18px 60px;
  position: relative;
  left: 0px;
  top: 10px;
  z-index: 1;
  border-radius: 50px;
  border: 0;
  background-color: rgba(248, 196, 64, 0.845);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 40%;
  margin-top: 7%;
  font-size: 20px;
  font-weight: 600;
  transition: all .5s ease;
}

.linkbtn1 {
  text-decoration: none;
  color: rgb(114, 111, 111);

}

.BTN1:hover {
  letter-spacing: 3px;
  background-color: rgb(244, 192, 53);
  color: hsl(0, 0%, 1%);
  box-shadow: rgb(2, 1, 3) 0px 7px 29px 0px;
}

.BTN1:active {
  letter-spacing: 3px;
  background-color: rgb(244, 192, 53);
  color: hsl(0, 0%, 0%);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.servwrapper {
  align-items: center;
  justify-content: center;
  border: black;
}
.cartbtn5{
  margin-bottom: 2%;
  margin-left: 15%;
  width: 140px;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(0deg, rgb(191, 191, 185) 0%, rgb(245, 212, 0) 100%);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 15px;
  color: rgb(6, 6, 6);
  transform: translateY(-0.2em);
  transition: transform 0.4s ease;
}

.servecontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.searchbar {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 14%;
  top: 10px;
  z-index: 1;
}

#searchfood {
  border-radius: 50px;
  padding: 15px;
}

.servehead {
  margin-left: 14%;
  top: 10px;
  z-index: 1;
}

.card img {
  height: 200%;
}

.addcart {
  display: flex;
  justify-content: space-between;
}

.category {
  z-index: 1;
  margin-bottom: 3%;

}

.catwrapper {
  display: flex;
  justify-content: space-evenly;
}

#cartegorybtn {
  justify-content: space-between;
  font-size: 30px;
}

.carticon {
  margin-left: 30%;
}

.carticon a {
  color: inherit;
}

.carticon i {
  font-size: 35px;
  display: flex;
  color: rgb(9, 9, 9);
  gap: 0.5rem;
}

.cartheader {
  margin-top: 3%;

}

.cartcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;

}

.cartcard {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2rem;
  width: 720px;
  height: 650px;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: rgb(244, 192, 53);
  padding: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.0rem;
  line-height: 2rem;
  font-weight: 700;
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 2%;
  color: #000000
}

.price {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: #fff
}

.desc {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
  color: rgb(0, 0, 0);
}

.lists {
  font-size: 1.5rem;

  margin-bottom: 1.5rem;
  flex: 1 1 0%;
  color: rgb(0, 0, 0);
}

.lists .list {
  margin-bottom: 0.5rem;
  display: flex;
  margin-left: 0.5rem
}

.lists .list svg {
  height: 2.5rem;
  width: 2.0rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  color: rgb(245, 12, 12);
}

.action {
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0.25rem;
  background-color: rgb(243, 126, 10);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: rgba(17, 24, 39, 1);
}

.algebra {
  background-color: rgba(188, 160, 84, 0.456);
  border-radius: 50px;
  border: none;
  margin-left: 5px;
  width: 35px;
  cursor: pointer;
  transition: 0.5s;
}

.algebra:hover {
  box-shadow: green;
}

#dustbin {
  color: rgb(227, 4, 4);
  border: none;
  background-color: inherit;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

#dustbin:hover {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.23em);
  /* Push the button downwards when pressed */
  transform: translateY(0.2em);
}


.cartmoving {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 20rem;
  margin-left: 10%;
}

.cartmoving i {
  font-size: 45px;
}
.ordered{
  color: rgb(3, 3, 3) !important;
  background: linear-gradient(0deg, rgb(236, 196, 196) 0%, rgb(248, 1, 1) 100%) !important;
}
.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: hsl(0, 2%, 38%);
  background: #ad5389;
  background: linear-gradient(0deg, rgb(238, 219, 77) 0%, rgba(102, 247, 113, 1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  transform: translateY(-0.2em);
  transition: transform 0.4s ease;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  /* Pull the button upwards when hovered */
  transform: translateY(-0.53em);

}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  transform: translateY(-0.53em);
  /* Push the button downwards when pressed */
  transform: translateY(0.1em);
}

#addbtn:hover {
  letter-spacing: 3px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 100%, 99%);
  box-shadow: rgb(100, 83, 10) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 5px;
}

#addbtn:active {
  letter-spacing: 3px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.carttable th {
  font-size: 28px;
}

tbody tr {
  font-size: 20px;
}

tbody td {
  font-size: 25px;
  letter-spacing: 2px;
}

#addbtn {
  font-size: 25px;
  border-radius: none;
  background-color: inherit;
  margin-right: 10px;

}

#cartbtn3 {
  border: none;
  background-color: inherit;
}


.cartbtn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.cartbtn {
  margin-bottom: 2%;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(0deg, rgb(253, 253, 252) 0%, rgb(249, 216, 0) 100%);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: rgb(6, 6, 6);
  transform: translateY(-0.2em);
  transition: transform 0.4s ease;
}

.price2{
  color: red;
}

.cartbtn :active {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.23em);
  /* Push the button downwards when pressed */
  transform: translateY(0.2em);
  box-shadow: none;
}
hr {
  border: none; /* remove the default border */
  border-top: 3px solid black; /* add a 1px solid line */
  margin: 10px 0; /* adjust the margin as needed */
  padding-right: 20%;

}

.recieptdata{
  display: flex;
  justify-content: center;
  background-color: rgba(245, 242, 155, 0.531);
  padding-bottom: 20%;
color: black;
}

.recieptdata h2{
  font-size: 40px;
}
.recieptdata h5{
  font-size: 23px;
  padding-left: 3%;

}
.recieptdata p{
  font-size: 16px;
  padding-left: 10%;

}
.emptycart{
  display: flex;
  justify-content: center;
  padding-top: 18%;
  font-size: 55px;
}


.cartbtn4 {
  margin-left: 48%;

  --hover-shadows: 16px 16px 33px #121212,
                    -16px -16px 33px #303030;
  --accent: rgb(235, 219, 158);
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s,
              background-color ease-in-out 0.1s,
              letter-spacing ease-in-out 0.1s,
              transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1c82,
              -13px -13px 10px #26262690;
 }
 
 .cartbtn4:hover {
  box-shadow: var(--hover-shadows);
 }
 
 .cartbtn4:active {
  box-shadow: var(--hover-shadows),
               var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
 }
.ordertable {
  font-size: 20px;
}
.BOPDAD{
  display: flex;
  gap: 5rem;
}
.totalsub{
  margin-top: 15%;
  margin-bottom: 15%;

}

/* HOVER EFFECT FOR SCREENS LARGER THAN 1024*/
@media (max-width: 1024px) {}


/* HOVER EFFECT FOR SCREENS BETWEEN 601PX AND 1024*/
@media screen and (min-width:601) and (max-width: 1024px) {
  .searchbar {
    margin-left: 0;
  }
}



/* HOVER EFFECT FOR SCREENS SMAALER THAN 600*/
@media (max-width: 600px) {
  .searchbar {
    margin-left: 0%;
    margin-bottom: -20px;
  }

  .servehead {
    margin-left: 0%;
  }

  .servehead h2 {
    font-size: 18px;
  }

  .carticon {
    margin-left: 25%;
    margin-top: -15%;
  }

  .carticon i {
    font-size: 25px;
  }

  #search1 {
    width: 200px;
  }

  #search1 input {
    font-size: 13px;
    padding: 10px;
  }

  .cartbtn {
    margin-bottom: 2%;
    width: 70px;
    height: 30px;
    border-radius: 50px;
    background: linear-gradient(0deg, rgb(253, 253, 252) 0%, rgb(249, 216, 0) 100%);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 14px;
    color: rgb(6, 6, 6);
    transform: translateY(-0.2em);
    transition: transform 0.4s ease;
  }

  .servecontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .servecontainer .card {
    width: 100%;
    position: relative;
    border: none;
  }

  .servecontainer .card .card-img-top {
    width: 100%;
    height: auto;
    padding-top: 40px;
    object-fit: cover;
  }

  .servecontainer .card .card-body {
    padding-bottom: 10px;
    /* Adjust this value to change the aspect ratio */
  }

  .cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    width: 55px;
    height: 30px;
    color: hsl(0, 2%, 38%);
    background: #ad5389;
    background: linear-gradient(0deg, rgb(238, 219, 77) 0%, rgba(102, 247, 113, 1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.002em;
    border-radius: 20em;
  }
  .ordered{
    width: 75px;
    color: rgb(3, 3, 3) !important;
    background: linear-gradient(0deg, rgb(236, 196, 196) 0%, rgb(248, 1, 1) 100%) !important;
  }

  .card-title {
    font-size: 14px;
    font-weight: 600;
  }

  .cartcard {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 2rem;
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: rgb(244, 192, 53);
    padding: 0.6rem;
  }

  .price {
    font-size: 38px;
  }

  .desc {
    font-size: 13px;
  }

  .carttable th {
    font-size: 20px;
  }

  tbody td {
    font-size: 19px;
    letter-spacing: 2px;
  }

  #addbtn {
    font-size: 15px;
    border-radius: none;
    background-color: inherit;
    margin-left: 10px;
    margin-right: 10px;
  }
  .cartmoving i {
    font-size: 25px;
    padding-top:  150%; ;
  }
  .title{
    font-size: 15px;
    margin-left: 25%;
    letter-spacing: 1px;
  }
  .price2{
    color: red;
  }
  .emptycart{
    display: flex;
    justify-content: center;
    padding-top: 57%;
    font-size: 25px;
  }
  .cartbtn4 {
    margin-left: 35%;
  
    --hover-shadows: 16px 16px 33px #121212,
                      -16px -16px 33px #303030;
    --accent: rgb(235, 219, 158);
    font-weight: bold;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #212121;
    color: white;
    padding: 0.7em 0.9em;
    transition: box-shadow ease-in-out 0.3s,
                background-color ease-in-out 0.1s,
                letter-spacing ease-in-out 0.1s,
                transform ease-in-out 0.1s;
    box-shadow: 13px 13px 10px #1c1c1c82,
                -13px -13px 10px #26262690;
   }
   .homepage h2 {
    font-size: 30px;
    /* width: 50%; */
    color: rgb(0, 0, 0);
    margin-top: 20%;
  }
 
  
  .carousel img {
    width: 100%;
    height: 30vh;
    border-radius: 200px;
    margin-top: 10%;
  }
  
  .carousel {
    width: 90%;
  }
  
  .homepage {
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    display: block;
    position: relative;
  
  }
  
  
  
  .BTN1 {
    padding: 14px 40px;
    position: relative;
    left: 0px;
    top: 10px;
    z-index: 1;
    border-radius: 50px;
    border: 0;
    background-color: rgba(248, 196, 64, 0.845);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: 22%;
    margin-top: 27%;
    font-size: 15px;
    font-weight: 600;
    transition: all .5s ease;
  }
}